/*use for index.php only*/
body{
  color: #444;
}
.jumbo {
  margin: 10px;
  padding: 0px;
}
.jumbotext {
  font-size: 80px;
  padding: 50px;
  text-align: center;
}
.jumbohead {
  font-size: 50px;
  padding: 30px;
  text-align: center;
}
.jumbopadding{
  padding:50px;
}
.jumbo hr {
  border-color: #8cf;
  margin: 0px 50px 0px 50px;
}
@media only screen and (max-width:980px) {

}
@media only screen and (max-width:700px) {
  .jumbotext {
    padding: 100px 30px 100px 30px;
  }
  .jumbo hr {
    margin: 0px 10px 0px 10px;
  }
}
/*section1*/
.main {
    text-align: center;
  }
.main a{
  box-sizing: border-box;
  color: #eee;
  border: 5px solid currentcolor;
  font-size: 30px;
  text-decoration: none;
  background: transparent;
  padding: .5em 1em;
  border-radius: 5px;
  margin: 0px 50px;
  display: inline-block;
  margin-bottom: 25%;

}
.main a:hover {
  background: rgba(9,9,9,.5);
  color: #fff;
  border: 5px solid currentcolor;
}
#staff{
  padding-right: 1.5em;
  padding-left: 1.5em;
}
/*alphabet color for dark part*/

.flag{
  color: #444;
}
/*index section*/

section {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;

}
#section1{
  background-image: url(eiei.jpg);
  background-size: 100%;
}
#section5{
    background:#bed8ef;
  }

#section2,#section4{
    background:#ffffff;
  }

#section3{
    background-color: #767070;
  }
  /* info */
.bluebox {
  background-color: #fff;
  width: 750px;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 3%;
  border-radius: 20px;
}
.infotxt{
  font-family:"supermarket";
  font-size: 20px;
  color: #000;
  margin-left: 20px;
  margin-right: 20px;
}
.headinfotxt{
  font-family:"supermarket";
  font-size: 40px;
  color: #000;
  text-align: "center";
  line-height: 100px;
}
/* info */
.boxFAQ{
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
}
.boxdes {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
	width: 50%;
  font-size: 18px;
}
.infotxt{
	font-family:"supermarket ";
	font-size: 20px;
	color: #000;
	margin-left: 20px;
	margin-right: 20px;
}
.headinfotxt{
	font-family:"supermarket";
	font-size: 40px;
	color: #000;
	text-align: "center";
	line-height: 100px;
}
.topic{
  display: inline-block;
  font-family: "supermaket";
  color: #eee ;
  border: 7px solid currentcolor;
  border-radius: 20px;
  font-size: 100px;
  padding: .5em 1em;
  background: transparent;
  margin-top: 15%;
  margin-bottom: 2%;

    /*background-color: rgba(255, 255, 255, .8);*/ 
}

