/*use for index.php only*/
body{
  background-color: #FFF;
  color: #444;
}
.jumbo {
  margin: 10px;
  padding: 0px;
}
.jumbotext {
  font-size: 80px;
  padding: 50px;
  text-align: center;
}
.jumbohead {
  font-size: 50px;
  padding: 30px;
  text-align: center;
}
.jumbopadding{
  padding:50px;
}
.jumbo hr {
  border-color: #8cf;
  margin: 0px 50px 0px 50px;
}
@media only screen and (max-width:980px) {

}
@media only screen and (max-width:700px) {
  .jumbotext {
    padding: 100px 30px 100px 30px;
  }
  .jumbo hr {
    margin: 0px 10px 0px 10px;
  }
}
/*section1*/
.main {
    text-align: center;
  }
.main a{
  box-sizing: border-box;
  color: #ccc;
  text-decoration: none;
  background: #333;
  padding: 15px 17px;
  border-radius: 5px;
  margin: 20px 10px;
  display: inline-block;
}
.main a:hover {
  background: #444;
  color: #fff;
}
#staff{
  padding-right: 1.5em;
  padding-left: 1.5em;
}
/*alphabet color for dark part*/
#section3, #section5{
  color: #fff;
}
.flag{
  color: #444;
}
/*index section*/
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
#section1,
#section5{
    background:#bed8ef;
  }

#section2,
#section4{
    background:#fffff;
  }

#section3{
    background-color: #767070;
  }