.grid {
  		overflow: hidden;
			padding: 0.5em 0 0 0.5em;
			max-width: 76em;
			margin: 0 auto;
		}
		.grid li {
			padding: 0 0.5em 0.5em 0;
		}
		.grid li > div {
			/*background: #808080;*/
			padding: 1em 2em;
			
		}
		.grid li.full {
			width: 100%;
		}
		.grid li.wide {
			width: 100%;
		}
		.grid li a {
			color: #fff;
		}	
		
		@media all and (min-width: 40em) {
			.grid li {
				float: left;
				width: 33.3333333%;
			}
			.grid li.wide {
				width: 66.666666%;
			}
		}
		@media all and (min-width: 60em) {
			.grid li {
				width: 25%;
			}
			.grid li.wide {
				width: 50%;
			}
		}