/* Tags */
body {
  font-family: "supermarket";
  margin: 0px;
  background-color: #bed8ef;
}
a:link {
  color: #03f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #03f;
}
/* Navigation Bar */
nav {
  width: 100%;
  background-color: rgba(51, 51, 51, 0.90);
  color: #ccc;
  overflow: auto;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.navbar {
  width: 980px;
  margin: auto;
}
.navbar .heading .title {
  margin: 0px;
  padding: 15px;
  float: left;
}
.navbar ul {
  margin: 0px;
  padding: 0px;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  float: left;
}
.navbar ul li:hover {
  background-color: #444;
}
.navbar a {
  padding: 15px;
  height: 20px;
  margin: 0px;
  color: #ccc;
  display: inline-block;
}
.navbar a:hover {
  text-decoration: none;
  color: #fff;
}
.navbar ul .right {
  float: right;
}
.navbar button {
  border: 1px solid #ccc;
  background-color: transparent;
  color: #ccc;
  float: right;
  border-radius: 5px;
  margin: 10px;
  padding: 6px;
  cursor: pointer;
  display: none;
}
.navbar button:hover {
  border-color: #fff;
  color: #fff;
  background-color: #333;
}
/* Other Classes */
.main {
  width: 980px;
  margin: auto;
}

/* Responsive */
@media only screen and (max-width:980px) {
  .navbar {
    margin: 0px;
    width: 100%;
  }
  .main {
    width: 100%;
  }
}
@media only screen and (max-width:700px) {
  .navbar .heading {
    width: 100%;
    overflow: auto;
  }
  .navbar li {
    width: 100%;
  }
  .navbar a {
    display: block;
  }
  .navbar button {
    display: inline-block;
  }
  .navbar .nav {
    display: none;
  }
}
section {
  padding: 50px;
  height: 100%;
}

#section1,
#section5{
    background:#bed8ef;
  }

#section2,
#section4{
    background:#fffff;
  }

#section3{
    background-color: #767070;
  }
footer {
  padding: 10px;
  background: #333;
  color: #ccc;
  text-align: center;
}
.content{
  position: relative;
  min-height: 1px;
  padding-right: 30px;
  padding-left: 30px;
}