* {
  margin: 0;
  padding: 0;
  color:#666;
}
body{
	height: auto;
}
#head {
	font-size: 30px;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	font-weight: normal;
	text-transform: uppercase;
	padding-bottom: 100px;
}
.result {
	font-size: 15px;
	background-color: #FFF;
	width: 60%;
  	height: auto;
	min-width: 400px;
	border-radius: 3px;
	margin: 100px auto;
	padding: 5% 7%;
	box-sizing: border-box;
	text-align: left;
	text-align: center;
}
.result a {
	color: #FFF;
	font-size: 18px;	
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background-color: #5d9ad3;
	padding: 0.5em 1.2em;
	border: 1px solid #5d9ad3;
	border-radius: 2px;
	display: inline-block;
	margin-top: 50px;
}